@charset "utf-8"; 

body { 

background-color:#396DA5; 

margin:0px; 

padding:0px; 

color:#fff; 

font:"微软雅黑"; 

font-size:14px;} 

.window { 

border:6px #ccc outset; 

width:680px; 

height:442px; 

background-color:#000; 

position:absolute; 

top:40px; 

left:68px; 

overflow:hidden} 

.title { 

background-color:#08246B; 

padding:2px;} 

#text { 

background-color:#000; 

border-top:#ccc outset 2px; 

height:420px; 

overflow-y:scroll;} 

ul { 

margin:0px; 

padding:0px; 

list-style:none;} 

input { 

background-color:#000; 

border:0; 

color:#fff; 

outline:none; 

/*font-size:12px;*/

width:100%}